{% extends 'TRFC_VSLZR/layout.html' %}

{% block body %}
    <div style="background-color:#7a818a" class="jumbotron text-center">
        <h1>Welcome to the Traffic Visualizer</h1>
        <p class="lead">This app provides the tools necesary to keep track of the individual packets across a line card.
    </div>

    <div class="wrap">
    <div class="track-container">

        <article class="media module-block-L module-gray">
            <div class="media-body">
                <div class="article-metadata">
                    <small>Oh hi mark</small>
                </div>
                <div style="display:flex; justify-content:space-between;">
                    <h2><a class="module-title" href="\">This is some GRAY mate</a></h2>                
                </div>
            </div>
        </article>

        <div class="tri-right"></div>

        <article class="media module-block-L module-gray">
            <div class="media-body">
                <div class="article-metadata">
                    <small>Oh hi mark</small>
                </div>
                <div style="display:flex; justify-content:space-between;">
                    <h2><a class="module-title" href="\">This is some GRAY mate</a></h2>            
                </div>
            </div>
        </article>
        <div class="tri-right"></div>
        <article class="media module-block-L module-red">
            <div class="media-body">
                <div class="article-metadata">
                    <small>Oh hi mark</small>
                </div>
                <div style="display:flex; justify-content:space-between;">
                    <h2><a class="module-title" href="\">This is some RED mate</a></h2>
                </div>
            </div>
        </article>
        <div class="tri-right"></div>

        <article class="media module-block-L module-gray">
            <div class="media-body">
                <div class="article-metadata">
                    <small>Oh hi mark</small>
                </div>
                <div style="display:flex; justify-content:space-between;">
                    <h2><a class="module-title" href="\">This is some GRAY mate</a></h2>            
                </div>
            </div>
        </article>

        <div class="tri-down" style="float: right;"></div>

        <article class="media module-block-R module-gray"  style="clear: both;">
            <div class="media-body">
                <div class="article-metadata">
                    <small>Oh hi mark</small>
                </div>
                <div style="display:flex; justify-content:space-between;">
                    <h2><a class="module-title" href="\">This is some GRAY mate</a></h2>            
                </div>
            </div>
        </article>

        <div class="tri-left"></div>
        
        <article class="media module-block-R module-gray">
            <div class="media-body">
                <div class="article-metadata">
                    <small>Oh hi mark</small>
                </div>
                <div style="display:flex; justify-content:space-between;">
                    <h2><a class="module-title" href="\">This is some GRAY mate</a></h2>            
                </div>
            </div>
        </article>

        <div class="tri-left"></div>

        <article class="media module-block-R module-gray">
            <div class="media-body">
                <div class="article-metadata">
                    <small>Oh hi mark</small>
                </div>
                <div style="display:flex; justify-content:space-between;">
                    <h2><a class="module-title" href="\">This is some GRAY mate</a></h2>            
                </div>
            </div>
        </article>

        <div class="tri-left"></div>

        <article class="media module-block-R module-gray">
            <div class="media-body">
                <div class="article-metadata">
                    <h2><a class="module-title" href="\">This is some GRAY mate</a></h2> 
                    
                </div>
                <div class="module-drop">
                    <small>Oh hi mark</small>           
                </div>
            </div>
        </article>

        <div class="tri-down" style="float: left;"></div>

        <article class="media module-block-L module-gray" style="clear: both;">
            <div class="media-body">
                <div class="article-metadata">
                    <small>Oh hi mark</small>
                </div>
                <div style="display:flex; justify-content:space-between;">
                    <h2><a class="module-title" href="\">This is some GRAY mate</a></h2>                
                </div>
            </div>
        </article>

        <div class="tri-right"></div>
        
        <article class="media module-block-L module-gray">
            <div class="media-body">
                <div class="article-metadata">
                    <small>Oh hi mark</small>
                </div>
                <div style="display:flex; justify-content:space-between;">
                    <h2><a class="module-title" href="\">This is some GRAY mate</a></h2>            
                </div>
            </div>
        </article>
        <div class="tri-right"></div>
        <article class="media module-block-L module-red">
            <div class="media-body">
                <div class="article-metadata">
                    <small>Oh hi mark</small>
                </div>
                <div style="display:flex; justify-content:space-between;">
                    <h2><a class="module-title" href="\">This is some RED mate</a></h2>
                </div>
            </div>
        </article>
        <div class="tri-right"></div>

        <article class="media module-block-L module-gray">
            <div class="media-body">
                <div class="article-metadata">
                    <small>Oh hi mark</small>
                </div>
                <div style="display:flex; justify-content:space-between;">
                    <h2><a class="module-title" href="\">This is some GRAY mate</a></h2>            
                </div>
            </div>
        </article>

        <div class="tri-down" style="float: right;"></div>

        <article class="media module-block-R module-gray"  style="clear: both;">
            <div class="media-body">
                <div class="article-metadata">
                    <small>Oh hi mark</small>
                </div>
                <div style="display:flex; justify-content:space-between;">
                    <h2><a class="module-title" href="\">This is some GRAY mate</a></h2>            
                </div>
            </div>
        </article>

        <div class="tri-left"></div>
        
        <article class="media module-block-R module-gray">
            <div class="media-body">
                <div class="article-metadata">
                    <small>Oh hi mark</small>
                </div>
                <div style="display:flex; justify-content:space-between;">
                    <h2><a class="module-title" href="\">This is some GRAY mate</a></h2>            
                </div>
            </div>
        </article>
        

            
    </div>
    </div>
    

    <article class="media module-block-L module-gray">
        <div class="media-body">
            <div class="article-metadata">
                <small>Oh hi mark</small>
            </div>
            <div style="display:flex; justify-content:space-between;">
                <h2><a class="module-title" href="\">This is some GRAY mate</a></h2>
                
            </div>
        </div>
    </article>

    <article class="media module-block-L module-green">
        <div class="media-body">
            <div class="article-metadata">
                <small>Oh hi mark</small>
            </div>
            <div style="display:flex; justify-content:space-between;">
                <h2><a class="module-title" href="\">This is some GREEN mate</a></h2>
                
            </div>
        </div>
    </article>

    <article class="media module-block-L module-red">
        <div class="media-body">
            <div class="article-metadata">
                <small>Oh hi mark</small>
            </div>
            <div style="display:flex; justify-content:space-between;">
                <h2><a class="module-title" href="\">This is some RED mate</a></h2>
            </div>
        </div>
    </article>

    

{% endblock %}